*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #fff;
}

/*** main ***/


/** Layout **/
.container{
    width: 100%;
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
    padding: 15px 0;
  
}

.layout-1{
    padding: 100px 0px;
    background-color: #efefee;
    background-image: url('../img/ba-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.diferentes-tipos{
    text-align: center;
    margin-bottom: 45px;
}

.diferentes-tipos .dis, .about-block .dis{
    font-size: 17px;
    font-weight: 700;
    color: #FF9801;
}

.diferentes-tipos h2, .about-block h3{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #000;
    margin-bottom: 10px;
}

.diferentes-tipos .effect{
    margin: auto;
    width: 178px;
    height: 25px;
    background-image: url('../img/title-section-icon.svg');
}

.container .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.items-tipos{
    width: 100%;
    max-width: 15%;
    max-height: 150px;
    margin: auto;
    overflow: hidden;
    background-color: #FBF9F6;
    margin-bottom: 45px;
    padding: 30px 10px;
}

.items-tipos:hover{
    transition: 0.5s;
    transform: translateY(-5px);
}

.contenedor-figure{
    text-align: center;
}

.item-img img{
    display: inline-block;
    margin: auto 0;
    max-width: 100%;
    height: 75px;
    padding-bottom: 10px;
}

.item-text h3{
    font-size: 17px;
    color: #42210b;
    letter-spacing: -0.25px;
}

/* layout-2  */

.layout-2{
    padding: 100px 0px;
}

.lo-mejor-salud{
    width: 100%;
    max-width: 50%;
    
    overflow: hidden;
}

.lo-mejor-salud img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.about-block{
    margin-left: 60px;

}

.transate-center{
    top: 50%;
    transform: translateY(-50%);
    display: block;
    position: relative;
}

.about-block p{
    margin: 30px 0;
    color: #828282;
    line-height: 30px;
}


.about-block a {
    background-color: #FFCB05;
    display: inline-block;
    padding: 12px 30px;
    color: #000;
    border-radius: 35px;
    line-height: 1;
    font-weight: 500;
    font-size: 14px;
    transition: 0.5s;
    transform: translateY(0px);
    text-decoration: none;
}

.about-block a:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    background-color: #FF9801;
}


@media (max-width:990px){
    .items-tipos{
        min-width: 30%;
    }
   
    .lo-mejor-salud{
        max-width: 100%;
    }

    .transate-center{
        top: 0%;
        transform: translateY(0);
        display: block;
        position: relative;
    }


    .lo-mejor-salud img{
        display: block;
        margin: auto;
      
    }
    
}

@media (max-width:750px){
    .items-tipos{
        min-width: 45%;
    }

}
